# Perpolator V2 Frontend Configuration

# Solana RPC (devnet)
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com

# Program ID
NEXT_PUBLIC_PROGRAM_ID=884d5ngZbUy3VJTHxgeopSWNBvqw2KAq9cSgVacJfgq2

# Network (devnet | mainnet-beta)
NEXT_PUBLIC_NETWORK=devnet
